if SHIELD_DM_4x6_3_LEFT

config ZMK_KEYBOARD_NAME
    default "Dactyl Manuform"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DM_4x6_3_LEFT || SHIELD_DM_4x6_3_RIGHT

config ZMK_SPLIT
    default y

endif