# config SHIELD_DM_4x6_3
#     def_bool $(shields_list_contains, dm_4x6_3)

config SHIELD_DM_4x6_3_LEFT
    def_bool $(shields_list_contains, dm_4x6_3_left)
#     select SHIELD_DM_4x6_3

config SHIELD_DM_4x6_3_RIGHT
    def_bool $(shields_list_contains, dm_4x6_3_right)
#     select SHIELD_DM_4x6_3